<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Andtourtravel </title>
    <link rel="stylesheet" href="~/Templates/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Templates/css/animate.min.css" />
    <link rel="stylesheet" href="~/Templates/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="~/Templates/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Templates/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Templates/css/navber.css" />
    <link rel="stylesheet" href="~/Templates/css/meanmenu.css" />
    <link rel="stylesheet" href="~/Templates/css/style.css" />
    <link rel="stylesheet" href="~/Templates/css/responsive.css" />
    <link rel="icon" type="image/png" href="~/Templates/img/favicon.png">
</head>


<body>
    @RenderBody()

    <!-- Footer  -->
    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>¿Necesitas ayuda?</h5>
                    </div>
                    <div class="footer_first_area">
                        <div class="footer_inquery_area">
                            <h5>Llame a nuestro call center por si ocupa ayuda</h5>
                            <h3> <a href="tel:+506 22068600">+506 22068600</a></h3>
                        </div>
                        <div class="footer_inquery_area">
                            <h5>Síguenos en</h5>
                            <ul class="social_icon_footer">
                                <li>
                                    <a href="https://www.facebook.com/sistemasfidelitas/"><i class="fab fa-facebook"></i></a>
                                    <a href="https://twitter.com/ufidelitas_cr"><i class="fab fa-twitter-square"></i></a>
                                    <a href="https://www.instagram.com/ufidelitas/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://cr.linkedin.com/in/francisco-mata-gomez-641a40239"><i class="fab fa-linkedin"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_left">
                        <p>Copyright © 2022 All Rights Reserved</p>
                    </div>
                </div>
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_right">
                        <img src="~/Templates/img/common/cards.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="~/Templates/js/jquery-3.6.0.min.js"></script>
    <script src="~/Templates/js/bootstrap.bundle.js"></script>
    <script src="~/Templates/js/jquery.meanmenu.js"></script>
    <script src="~/Templates/js/owl.carousel.min.js"></script>
    <script src="~/Templates/js/wow.min.js"></script>
    <script src="~/Templates/js/custom.js"></script>
    <script src="~/Templates/js/add-form.js"></script>
    <script src="~/Templates/js/form-dropdown.js"></script>
</body>
</html>
