
@{
    ViewBag.Title = "PoliticasPrivacidad";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Templates/css/banner.css" />


<!-- Banner Area -->
<section id="home_three_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2 class="banner-heading">Politicas de privacidad</h2>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="explore_area" class="section_padding">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading_center">
                    <h2>
                        Politicas de privacidad
                    </h2>
                </div>
                <p class="text-justify h5">
                    En AndTour, respetamos y valoramos tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos tus datos personales cuando utilizas nuestros servicios en línea. Al utilizar nuestro sitio web, estás aceptando las prácticas descritas en esta política.
                </p>
                <br> <br />
                <h4>1. Información que Recopilamos</h4>

                <p class="text-justify h5">
                    Información de Registro: Cuando te registras en AndTour, recopilamos información personal como tu nombre, dirección de correo electrónico y contraseña. Esto es necesario para proporcionarte acceso a nuestros servicios y para mantener tu cuenta.

                    Información de Viaje: Cuando realizas reservas de viajes, hoteles, coches u otros servicios a través de nuestro sitio web, recopilamos información relacionada con tu viaje, como fechas, destinos y preferencias personales.

                    Información de Pago: Si realizas compras en nuestro sitio, recopilamos información de pago, como detalles de tarjetas de crédito o información de facturación, para procesar tus transacciones de manera segura.

                    Información de Uso: Recopilamos datos sobre cómo utilizas nuestro sitio, como páginas visitadas, búsquedas realizadas y acciones realizadas en el sitio.

                    Información de Dispositivo: Recopilamos información sobre el dispositivo que utilizas para acceder a nuestro sitio web, incluyendo la dirección IP, tipo de dispositivo, sistema operativo y navegador.
                </p>

                <br> <br />
                <h4>2. Uso de la Información</h4>
                <p class="text-justify h5">
                    Utilizamos la información que recopilamos para los siguientes propósitos:

                    Proporcionar y gestionar tus reservas y cuentas de usuario.

                    Personalizar tu experiencia en nuestro sitio web.

                    Procesar pagos y transacciones.

                    Mejorar y mantener nuestros servicios, incluyendo la optimización de nuestro sitio web y la seguridad.

                    Enviarte información relevante sobre ofertas, promociones y actualizaciones de viajes, si has dado tu consentimiento para recibirlas.
                </p>

                <br> <br />
                <h4>3. Compartir Información</h4>
                <p class="text-justify h5">
                    AndTour se compromete a no vender, alquilar ni compartir tu información personal con terceros sin tu consentimiento, excepto en las siguientes circunstancias:

                    Con proveedores de servicios que nos ayudan a operar nuestro sitio web y proporcionar servicios (por ejemplo, procesadores de pagos).

                    Cuando la ley lo exige o para proteger nuestros derechos legales.
                </p>


                <br> <br />
                <h4>4. Seguridad de Datos</h4>
                <p class="text-justify h5">
                    AndTour toma medidas de seguridad para proteger tus datos personales y garantizar su confidencialidad. Utilizamos técnicas de cifrado y medidas de seguridad para proteger tus datos de accesos no autorizados.
                </p>



                <br> <br />
                <h4>5. Tus Derechos</h4>
                <p class="text-justify h5">
                    Tienes derechos en relación con tus datos personales, incluyendo el derecho a acceder, rectificar, eliminar o limitar el uso de tus datos. Si deseas ejercer estos derechos, contáctanos a través de los datos de contacto proporcionados al final de esta política.
                </p>
                <br> <br />
                <h4>6. Cambios en la Política de Privacidad</h4>
                <p class="text-justify h5">
                    AndTour se reserva el derecho de actualizar y modificar esta política de privacidad en cualquier momento. Te recomendamos que revises periódicamente esta política para estar informado sobre las prácticas actuales de privacidad.
                </p>
                <br> <br />
                <h4>5. Tus Derechos</h4>
                <p class="text-justify h5">
                    Tienes derechos en relación con tus datos personales, incluyendo el derecho a acceder, rectificar, eliminar o limitar el uso de tus datos. Si deseas ejercer estos derechos, contáctanos a través de los datos de contacto proporcionados al final de esta política.
                </p>
                <br> <br />
                <p class="text-justify h5">
                    Gracias por confiar en AndTour. Estamos comprometidos a proteger tu privacidad y proporcionarte la mejor experiencia de viaje posible.
                </p>
            </div>
        </div>
    </div>
</section>

