@model G5_ProgramacionAvanzada.Entities.UsuarioEnt
@{
    ViewBag.Title = "RecuperarCuenta";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>Recuperar Contraseña</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Login")">Home</a></li>
                        <li><span><i class="fas fa-circle"></i></span> Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Common Author Area -->
<section id="common_author_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="common_author_boxed">
                    <div class="common_author_heading">
                        <h3>Recuperar cuenta</h3>
                    </div>

                    @if (ViewBag.MensajeUsuario != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <center>@ViewBag.MensajeUsuario</center>
                        </div>
                    }
                    <div class="common_author_form">
                        @using (Html.BeginForm("RecuperarCuenta", "Login", FormMethod.Post, new { @class = "main_author_form" }))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control form-control-lg", @placeholder = "Correo Electrónico", @type = "email" })
                            </div>

                            <div class="common_form_submit">
                                <input type="submit" class="btn btn_theme btn_md" value="Recuperar Cuenta">
                            </div>
                            <div class="have_acount_area">
                                <p>Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion", "Login")">Iniciar Sesión</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


